<div>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div style="text-align:center">
    <div class="wrapper" style="margin: 0 auto;">
        <div class="card">
            <img src="assets/Photoes/Campaign/b.jpg">
            <div class="info">
                <h1>Cleanliness</h1>
                <p>Cleanliness: Where health meets harmony, one scrub at a time.</p>
                <a routerLink="/citycomp" class="btn">Know More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/Photoes/Campaign/Plantation.jpg">
            <div class="info">
                <h1>Plantation</h1>
                <p>Plantation: Cultivating green havens, nurturing our shared future</p>
                <a routerLink="/Cleanliness" class="btn">Know More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/Photoes/Campaign/General Aareness.jpg">
            <div class="info">
                <h1>Public Meeting</h1>
                <p>Illuminating minds, igniting change, shaping tomorrow</p>
                <a routerLink="/Feedback" class="btn">Know More</a>
            </div>
        </div>    
    </div>
</div>

    <br/><br/><br/><br/><br/><br/><br/>
</div> 