<div>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div class="wrapper" style="margin: 0 auto;">
    <div class="card">
        <img src="assets/Photoes/Healthcare/Blood.jpg">
        <div class="info">
            <h1>Blood</h1>
            <p>Through blood donation, individuals can contribute to saving lives and improving the health of those in need</p>
            <a href="#" class="btn">Know More</a>
        </div>
    </div>
    <div class="card">
        <img src="assets/Photoes/Healthcare/Medicine.jpg">
        <div class="info">
            <h1>Medicines</h1>
            <p>Unlocking the door to a healthier tomorrow, one choice at a time.</p>
            <a href="#" class="btn">Know More</a>
        </div>
    </div>
    <div class="card">
        <img src="assets/Photoes/Healthcare/vacinies.jpg">
        <div class="info">
            <h1>Vacinies</h1>
            <p>Vaccines: Safeguarding today, building resilience for tomorrow</p>
            <a href="#" class="btn">Know More</a>
        </div>
    </div>    
</div>

<br/><br/><br/><br/><br/><br/><br/>
</div>