<link rel="stylesheet" href="feedback.component.css">
<div class="contact-container">
    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
        <div class="contact-left-title">
            <h1>Feedback & Views</h1>
            <hr>
        </div>
        <input type="hidden" name="access_key" value="8ef93ed1-a2a7-4017-acee-66b43676b739">
        <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
		<input type="text" name="phonenumber" placeholder="Enter phone number" class="contact-inputs" pattern="[0-9]{10}" required>
        <input type="email" name="email" placeholder="Your email" class="contact-inputs" required>
        <textarea name="message" placeholder="Your Message" class="contact-inputs"></textarea>
        <button type="submit" href="https://google.com">Submit <img src="/assets/Photoes/Feedbacks/arrow_icon.png" alt=""></button>
       
    </form>
    <div class="contact-right">
        <img src="/assets/Photoes/Feedbacks/right_img.png" alt="">
    </div>
</div>