<div>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <div class="wrapper" style="margin: 0 auto;"  >
        <div class="card">
            <img src="assets/Photoes/Charity/Education2.jpg">
            <div class="info">
                <h1>Education</h1>
                <p>Education is the key that unlocks the doors of opportunity, empowering individuals to shape their destinies and contribute meaningfully to society</p>
                <a routerLink="/citycomp" class="btn">Know More</a>
            </div>
        </div>
        
        <div class="card">
            <img src="assets/Photoes/Charity/Clothes.jpg">
            <div class="info">
                <h1>Clothes</h1>
                <p>Donating clothes extends a lifeline to those in need, offering warmth, dignity, and a sense of belonging to individuals facing adversity</p>
                <a routerLink="/clothes" class="btn">Know More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/Photoes/Charity/Charity_Food.jpg">
            <div class="info">
                <h1>Food</h1>
                <p>By sharing surplus food with those in need, we build stronger communities, alleviate suffering, and promote equality in access to basic necessities</p>
                <a routerLink="/food" class="btn">Know More</a>
            </div>
        </div>    
    </div>

    <br/><br/><br/><br/><br/><br/><br/>
</div> 
