<form class="form">
  <h2>CONTACT US</h2>
  <p type="Name:"><input placeholder="Write your name here.."></p>
  <p type="Email:"><input placeholder="Let us know how to contact you back.."></p>
  <p type="Message:"><input placeholder="What would you like to tell us.."></p>
  <button href="https://freefrontend.com/">Send Message</button>
  <br><br>
  
</form>

<div>
  <span class="fa fa-envelope-o"></span>Location: Pune, India <br><br>
  <span class="fa fa-phone"></span>Contact: +91 999 888 7766 <br><br>
  <span class="fa fa-envelope-o"></span>Mail: Servifyt&#64;gmail.com
</div>
